services:

  revproxy:
    image: nginx:1.27
    restart: always
    container_name: ctr_neoslab_revproxy
    ports:
      - "${INTERNAL_PORT}:${EXTERNAL_PORT}"
      - "${INTERNAL_PORT_SSL}:${EXTERNAL_PORT_SSL}"
    volumes:
      - ./Docker/server.conf:/etc/nginx/templates/server.conf.template
      - /etc/letsencrypt:/etc/letsencrypt:ro # Montar certificados como solo lectura
      - /var/log/nginx:/var/log/nginx # (opcional) Logs para depuración
    environment:
      - PRIMARY_DOMAIN=${PRIMARY_DOMAIN}
      - SECONDARY_DOMAIN=${SECONDARY_DOMAIN}
    command: >
      /bin/sh -c "envsubst '$${PRIMARY_DOMAIN} $${SECONDARY_DOMAIN}' < /etc/nginx/templates/server.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    depends_on:
      - frontend
      - ollama
    networks:
      - net_neoslab

  # api (this will be the backend)

  ollama:
    image: ollama/ollama:0.13.1
    container_name: ctr_neoslab_ollama
    restart: unless-stopped
    environment:
      - OLLAMA_ORIGINS=${APP_URL}
      - OLLAMA_CONTEXT_LENGTH=${OLLAMA_CONTEXT_LENGTH}
    expose:
      - "11434"
    volumes:
      - vol_neoslab_ollama:/root/.ollama
    deploy:
      resources:
        limits:
          cpus: ${OLLAMA_CPU_LIMIT}
          memory: ${OLLAMA_RAM_LIMIT}
    networks:
      - net_neoslab

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_OLLAMA_API_URL: ${OLLAMA_URL}
        VITE_OLLAMA_CONTEXT: ${OLLAMA_CONTEXT}
        VITE_OLLAMA_USE_OPTIONS: ${OLLAMA_USE_OPTIONS}
        VITE_ALLOWED_HOSTS: ${PRIMARY_DOMAIN},ollama.${PRIMARY_DOMAIN}
        VITE_APP_URL: ${APP_URL}
    container_name: ctr_neoslab_frontend
    image: img_neoslab_frontend:1.0
    depends_on:
      - ollama
    expose:
      - "3000"
    volumes:
      - ./frontend:/frontend:rw,uid=${HOST_UID},gid=${HOST_GID}
    environment:
      - VITE_APP_URL=${APP_URL}
      - VITE_OLLAMA_API_URL=${OLLAMA_URL}
      - VITE_OLLAMA_CONTEXT=${OLLAMA_CONTEXT}
      - VITE_OLLAMA_USE_OPTIONS=${OLLAMA_USE_OPTIONS}
      - VITE_ALLOWED_HOSTS=${PRIMARY_DOMAIN},ollama.${PRIMARY_DOMAIN}
    networks:
      - net_neoslab
    command: >
      /bin/bash -c "
        echo 'SHOP: verificando package.json...' &&
        if [ ! -f package.json ]; then
          echo 'No hay package.json en /shop. Manteniendo contenedor vivo...' && tail -f /dev/null;
        else
          echo 'Verificando node_modules...' &&
          if [ ! -d node_modules ]; then
            echo 'Instalando dependencias...' && npm install;
          else
            echo 'node_modules ya existe. Omitiendo instalación.';
          fi &&
          echo 'Limpiando build previo (si existe) con el mismo UID/GID heredado...' &&
          rm -rf build || true &&
          echo 'Construyendo aplicación (SSR + client)...' &&
          npm run build &&
          echo 'Levantando servidor SSR...' &&
          npm run start
        fi
      "
volumes:
  vol_neoslab_ollama:
    name: vol_neoslab_ollama
    driver: local

networks:
  net_neoslab:
    name: net_neoslab
    driver: bridge