services:

  revproxy:
    image: nginx:1.27
    restart: always
    container_name: ctr_neoslab_revproxy_dev
    ports:
      - "80:80" 
    volumes:
      - ./Docker.dev/server.dev.conf:/etc/nginx/templates/server.conf.template
    environment:
      - PRIMARY_DOMAIN=${PRIMARY_DOMAIN}
      - SECONDARY_DOMAIN=${SECONDARY_DOMAIN}
    command: >
      /bin/sh -c "envsubst '$${PRIMARY_DOMAIN}' < /etc/nginx/templates/server.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    depends_on:
      - frontend
      - ollama
    networks:
      - net_neoslab_dev

  # api (this will be the backend)

  ollama:
    image: ollama/ollama:0.13.1
    container_name: ctr_neoslab_ollama_dev
    restart: unless-stopped
    environment:
      - OLLAMA_ORIGINS=${APP_URL}
      - OLLAMA_CONTEXT_LENGTH=${OLLAMA_CONTEXT_LENGTH}
    expose:
      - "11434"
    volumes:
      - vol_neoslab_ollama_dev:/root/.ollama
    deploy:
      resources:
        limits:
          cpus: ${OLLAMA_CPU_LIMIT}
          memory: ${OLLAMA_RAM_LIMIT}
    networks:
      - net_neoslab_dev

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: ctr_neoslab_frontend_dev
    image: img_neoslab_frontend_dev:1.0
    depends_on:
      - ollama
    expose:
      - "5173"
    volumes:
      - ./frontend:/frontend:rw,uid=${HOST_UID},gid=${HOST_GID}
    environment:
      - VITE_APP_URL=${APP_URL}
      - VITE_OLLAMA_API_URL=${OLLAMA_URL}
      - VITE_OLLAMA_CONTEXT=${OLLAMA_CONTEXT}
      - VITE_OLLAMA_USE_OPTIONS=${OLLAMA_USE_OPTIONS}
      - VITE_ALLOWED_HOSTS=${PRIMARY_DOMAIN},ollama.${PRIMARY_DOMAIN}
    command: >
      /bin/bash -c "
        echo 'Front: verificando package.json...' &&
        if [ ! -f package.json ]; then
          echo 'No hay package.json en /shop. Manteniendo contenedor vivo...' && tail -f /dev/null;
        else
          echo 'Verificando node_modules...' &&
          if [ ! -d node_modules ]; then
            echo 'Instalando dependencias...' && npm install;
          else
            echo 'node_modules ya existe. Omitiendo instalación.';
          fi &&
          echo 'Limpiando build previo (si existe) con el mismo UID/GID heredado...' &&
          rm -rf build || true &&
          echo 'Construyendo aplicación (SSR + client)...' &&
          npm run build &&
          echo 'Levantando servidor SSR...' &&
          npm run start
        fi
      "
    networks:
      - net_neoslab_dev
      
volumes:
  vol_neoslab_ollama_dev:
    name: vol_neoslab_ollama_dev
    driver: local

networks:
  net_neoslab_dev:
    name: net_neoslab_dev
    driver: bridge