/* Estilos con temática Neón Azul y Morado con toque metálico */

body {
    background-color: #0d0d0d;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #120a8f, #7d00ff);
    padding: 20px;
    box-shadow: 0px 0px 15px #7d00ff;
}

header img {
    max-width: 150px;
    height: auto;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 10px #7d00ff, 0 0 20px #00ffff;
}

.button {
    background: linear-gradient(145deg, #00ffff, #7d00ff);
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 15px #00ffff;
    border-radius: 10px;
    transition: 0.3s;
}

.button:hover {
    box-shadow: 0 0 25px #7d00ff, 0 0 40px #00ffff;
    transform: scale(1.1);
}

.container {
    padding: 50px;
}

.footer {
    background: linear-gradient(90deg, #7d00ff, #120a8f);
    padding: 20px;
    text-shadow: 0 0 10px #00ffff;
}
